<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="App">
  <test thread-count="5" name="RunTest">
    <classes>
      <class name="RunTest.SignUp"/>
      <class name="RunTest.LaunchBrowser"/>
      
    </classes>
  </test> <!-- RunTest -->
</suite> <!-- App -->
